.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .img {
        height: 50px;
    }
    .itemDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .messageHandler {
        @extend .itemDiv;
        flex-direction: column;
    }
}